[submodule "Orange/vendor/spdlog"]
	path = Orange/vendor/spdlog
	url = https://github.com/christianwaldmann/spdlog
[submodule "Orange/vendor/GLFW"]
	path = Orange/vendor/GLFW
	url = https://github.com/christianwaldmann/glfw
[submodule "Orange/vendor/imgui"]
	path = Orange/vendor/imgui
	url = https://github.com/christianwaldmann/imgui
[submodule "Orange/vendor/glm"]
	path = Orange/vendor/glm
	url = https://github.com/christianwaldmann/glm
