[submodule "Orange/vendor/spdlog"]
	path = Orange/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Orange/vendor/GLFW"]
	path = Orange/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
